<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/newEducation?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.ast.ASTQueryTranslatorFactory</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.connection.pool_size">10</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.hbm2ddl.auto">create</property>
    <property name="hibernate.transaction.auto_close_session">true</property>
    <property name="hibernate.connection.autocommit">true</property>
    <mapping resource="com/fatec/neweducation/model/Player.hbm.xml"/>
    <mapping resource="com/fatec/neweducation/model/User.hbm.xml"/>
    <mapping resource="com/fatec/neweducation/model/Question.hbm.xml"/>
    <mapping resource="com/fatec/neweducation/model/Game.hbm.xml"/>
    <mapping resource="com/fatec/neweducation/model/Answer.hbm.xml"/>
    <mapping resource="com/fatec/neweducation/model/School.hbm.xml"/>
    <mapping resource="com/fatec/neweducation/model/PlayerSchoolGrade.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
